@import "./colors.css";

* {
  font-family:
    JetBrainsMono Nerd Font Propo;
  font-size: 12px;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

window.#waybar {
  background-color: alpha(@base01, 0.8);
}

tooltip {
  background-color: @base00;
  color: @base05;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-spotify,
#custom-spotify-prev,
#custom-spotify-next,
#window {
  padding: 4px 8px;
  margin: 2px;
  border-radius: 5px;
  color: @base05;
  background-color: @base00;
}


#custom-spotify,
#custom-spotify-prev,
#custom-spotify-next {
  background-color: @base06;
}

window#waybar.empty #window {
  background-color: transparent;
}

#custom-spotify-prev,
#custom-spotify-next {
  padding: 4px 6px;
}

#workspaces button label {
  color: @base03;
  padding: 0 10px;
}

#workspaces button.focused label,
#workspaces button.active label {
  color: @base05;
}

#workspaces {
  margin: 2px;
  border-radius: 5px;
  color: @base03;
}

#workspaces button {
  all: initial;
}
